.App {
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;
  }
  
  .Main {
    padding-top: 81px;
  }
  
  .Content {
    background-color: transparent;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }
  
  
  .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #2142b2;
    transition: color ease-in-out 0.3s;
  }
  
  input[type="file"] {
    display: none;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2142b2;
  }
  
  figure {
    text-align: center;
    display: inline-block;
  }

  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .popularProfilesBox {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}
.popularProfilesTitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #A2AD63;
  margin-bottom: 1rem;
  border-bottom: 3px solid #6b8e23;
  padding-bottom: 0.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
}

  .popularProfilesContainer {
    background-color: transparent; /* veya istediğin başka bir renk */
    padding: 0; /* İç boşluğu sıfırla ki kutu kenarına tam otursun */
    border: none;
  }
  
    
  
  