.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #6cd603 !important;
  }
  
  .Button:active {
    background-color: #6cd603 !important;
  }
  
  .Button:focus {
    background-color: #6cd603 ;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Green,
  .GreenOutline:hover,
  .Bright:hover {
    background-color: #6cd603;
    color: #ffffff;
  }
  
  .GreenOutline,
  .Green:hover {
    background-color: #1c2e0a ;
    color: #2142b2;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #242a3d;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
  }
  
  .Bright {
    background-color: #2ed9ff;
    color: #2142b2;
  }