html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ImageCol {
  background-image:
    radial-gradient(circle at center, transparent 50%, #F5F5F0),
    url('../assets/homepage2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

.TitleContainer {
  background-color: rgba(231, 224, 202, 0.85); /* E7E0CA */
  padding: 2rem 1.5rem;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.05);
  height: auto;
}

.Title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #385212;
  margin-bottom: 1rem;
}

.Line {
  width: 100px;
  height: 5px;
  margin: 0 auto 5px;
  border-radius: 80% 80% 30% 30%;
  background-color: #a2ad63;
}

.SecondLine {
  width: 50px;
  height: 5px;
  margin: 0 auto 20px;
  border-radius: 30% 30% 80% 80%;
  background-color: #a2ad63;
}

.Description {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #385212;
  font-weight: 800;
}

@media (max-width: 991px) {
  .Title {
    font-size: 2rem;
  }
  .Description {
    font-size: 1rem;
  }
}
