.DropdownItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  width: 100%;
  color: #385212;
  cursor: pointer;
  white-space: nowrap;
}

.DropdownItem:hover {
  background-color: #6B8E23;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 1; /* Bu çok yüksek olmasın, dropdown'dan düşük olsun */
}

:global(.dropdown-menu) {
  z-index: 9999 !important;
  position: absolute !important;  /* veya fixed */
  background-color: #A2AD63;
  min-width: 180px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
