.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #2142b2;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  color: #2142b2;
}

.bg {
  background-color: #385212;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.Main {
  margin: 0 auto;
  height: 100%;
}

.HomePage .Main {
  padding-top: 0 !important;
}

.CreamBox {
  background-color: #E7E0CA;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(56, 18, 82, 0.2);
  color: #385212;
}

.PasswordFormContainer {
  background-color: #E7E0CA;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}

/* Bootstrap Row/Col uyumu için */
.row,
.col {
  margin: 0 !important;
  padding: 0 !important;
}
