.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #2142b2;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #2142b2;
}
.bg {
  /* Örneğin, arka plan resmi veya renk tanımlanabilir */
  background-color: #385212;
  min-height: 100vh;
  width: 100%;
}

.Main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 30px; /* Navbar altı boşluk */
}


.CreamBox {
  background-color: #E7E0CA;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(56, 18, 82, 0.2);
  color: #385212;
}
.PasswordFormContainer {
  background-color: #E7E0CA; /* soft beige */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}